@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body, html{
    background-color: rgb(0, 15, 19);
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

#home, #collection, #social {
    height: 600px; /* Example height */
    padding-top: 50px; /* Adjust as needed */
}

@keyframes navbar-anim {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-navbar-in {
    animation: navbar-anim 1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal none;
}

.rotate {
    transition: transform 1s ease-in-out;
    transform: rotate(-360deg);
}

@keyframes animated-navbar-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

.animated-navbar-out {
    animation: animated-navbar-out 1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal none;
}

#backgroundVideo {
    top: 10px;
    filter: blur(6px);
    position: static;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 30%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: contain;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    text-align: center;
    font-weight: lighter;
    text-shadow: 0px 0px 5px #000000;
}

.x {
    font-style: italic;
    color:rgb(59, 205, 161);
}

#carouselShowOff {
    max-width: 100% auto;
}

.text-box2 {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    transform: translateX(0%);
    transform: translateY(12%);
    border-radius: 8px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    position: initial;
    width: fit-content;
    padding: 30px;
}

#slidecarousel-img {
    border-radius: 12px;
}

.container {
    width: 1280px;
    margin-top: 820px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

#backscene {
    margin-top: 120px;
    width: 1518px;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: hue-rotate(100deg) blur(7px);
    overflow: hidden;
}

.caption-carousel {
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px #ff0000;
}

.caption-text {
    background-color: rgba(0, 0, 0, 0.551);
    color: rgb(255, 190, 190);
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.551);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.text-box3 {
    column-count: 3;
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    bottom: 30px;
    transform: translateY(550%);
    border-radius: 8px;
    text-align: center;
    position: initial;
    padding: 30px;
}

.card {
    color: rgb(59, 205, 161);
    background-color: rgb(23, 23, 23);
}

.card img {
    width: 180px;
}

.container-card, .text-box3, .card-body {
    display: inline-block;
}

.card-img-top {
    display: block;
    width: 100%;
}

.btn-primary{
    background-color: rgb(59, 205, 161);
    border-color: rgb(59, 205, 161);
}

.btn-primary:hover {
    background-color: rgb(22, 81, 63);
    border-color: rgb(22, 81, 63);
}

.footer {
    color: rgb(59, 205, 161);
    margin-top: 10px;
    font-weight: lighter;
    font-style: italic;
}

.text-box4 {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    transform: translate(148%, 1020%);
    border-radius: 8px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    display: block;
    position: absolute;
    width: fit-content;
    padding: 30px;
}

.xv {
    font-style: italic;
    filter: blur(0px);
    color:rgb(59, 205, 161);
}

.xv:hover {
    text-shadow: 0px 0px 8px rgb(59, 205, 161);
    filter: blur(1px);
}

.xsombong {
    filter: blur(1px);
}

.xsombong:hover {
    filter: blur(0px);
}

.topcarouselcaption {
    padding-bottom : 10px;
    opacity: 30%;
}

.main-content {
    flex: 1;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.indexfooterbar {
    color: rgb(35, 35, 35);
    position: absolute;
    bottom: 30px;
    transform: translateY(4000%);
    height: fit-content;
}

.footerbar {
    color: rgb(35, 35, 35);
    position: fixed;
    height: fit-content;
}